//mixins

@mixin centerTotal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
};
  
  
@mixin textStyle($fontFamily, $fontWeight, $fontSize, $color) {
    font-family: $fontFamily;
    font-weight: $fontWeight;
    font-size: $fontSize;
    color: $color;
};

//fuentes

$font-family-Acme: 'Acme', sans-serif;
$font-family-Averia: 'Averia Sans Libre', sans-serif;
;

//colores

$main-color: #9bc1bc;
$secondary-color: #36c9c6;
$tertiary-color: #ed6a5a;
$font-color-one: rgb(18, 18, 28);
$font-color-two: rgb(180, 6, 55);
$color-icons: rgb(104, 1, 30);
