//mixins

@mixin centerTotal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
};
  
  
@mixin textStyle($fontFamily, $fontWeight, $fontSize, $color) {
    font-family: $fontFamily;
    font-weight: $fontWeight;
    font-size: $fontSize;
    color: $color;
};

//fuentes

$font-family-Acme: 'Acme', sans-serif;
$font-family-Averia: 'Averia', sans-serif;

//colores

$main-color: rgb(81, 151, 192);
$secondary-color: rgb(16, 90, 140);
$tertiary-color:rgb(195, 148, 5);
$font-color-one: rgb(18, 18, 28);
$font-color-two: rgb(180, 6, 55);
$color-icons: rgb(104, 1, 30);
