.sectionForm{
    width: 100%;
    &__form{
        padding: 0.8rem;
        display: flex;
        flex-wrap: wrap;
        gap :2rem;
        background-color: $secondary-color;
        @media all and (min-width:768px){
            gap: 6rem;
        }
        .fieldset{
            text-decoration: none;
            border:none;
            display:flex;
            align-items: center;
        }
    }

}