.sectionForm{

    &__form{
        padding: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        gap :2rem;
        background-color: $secondary-color;
        border: 3px solid $main-color;
        @media all and (min-width:768px){
            gap: 6rem;
        }
        .fieldset{
            text-decoration: none;
            border:none;
            display:flex;
        }
        &--legend{
            @include textStyle($font-family-Averia, 300, 1.5rem, white);
            @media all and (min-width:768px){
                font-size: 2.5rem;
            }
        }
    }

}