
.header{
    width: 100%;
    height: 25%;
    background: $secondary-color;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
   border-bottom: 5px ridge $tertiary-color;
    &__img{
       background-color: $font-color-one;
       margin-top: 1rem;
       padding: 2rem;
       border-radius: 50%;
       border: 5px double $secondary-color;
      // box-shadow: 2px 2px 4px rgb(23, 59, 33);
        &--Owen{
            width: 70px;
        }
    }
    &__h1{
        @include textStyle($font-family-Averia, 700, 3rem, $font-color-one);
        text-shadow: 1px 1px 1px $main-color;;
    }
    


   
}