
.header{
    width: 100%;
    height: 18rem;
    background-color: #9bc1bc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__img{
       background-color: rgb(220, 249, 242);
       margin-top: 1rem;
       padding: 2rem;
       border-radius: 50%;
       box-shadow: 2px 2px 4px rgb(23, 59, 33);
        &--Owen{
            width: 8rem;
        }
    }
    &__h1{
        @include textStyle($font-family-Acme, 300, 3rem, #f4f1bb);
        text-shadow: 1px 1px 1px rgb(23, 59, 33);;
        transform: translateY(-40%);
    }
    


   
}