.notfound{
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 6rem;
    &__h1{
        @include textStyle($font-family-Acme, 300, 3rem, #b70635);
    }
    &__img{
        width: 20rem;
        margin-bottom: 6rem;
    }
}