.notfound{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    &__h1{
        @include textStyle($font-family-Acme, 300, 2rem, $color-icons);
        padding: 3rem 2rem;
        text-align: center;
        
        @media all and (min-width:720px){
            @include textStyle($font-family-Acme, 300, 3rem, $color-icons);
        }
    }
    &__img{
        width: 200px;
        margin-bottom: 8.5rem;
        padding-top: 4rem;
        @media all and (min-width:720px){
            width: 300px;
        }
    }
}